PORT=5000
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/dormitory_management?retryWrites=true&w=majority
JWT_SECRET=change_this_to_a_strong_secret

GMAIL_USER=your_email@gmail.com
GMAIL_PASS=your_gmail_app_password

PAYMENT_BANK_BIN=970422
PAYMENT_ACCOUNT_NO=8092003888
PAYMENT_ACCOUNT_NAME=NGUYEN VU TRAN TIN
PAYMENT_QR_TEMPLATE=pcZ4Bku

CASSO_WEBHOOK_SECRET=change_this_webhook_secret
